@{
    Layout ="_gozaresh_filter" ;
}
<!DOCTYPE html>
<html lang="en">

<head>

    @section head{

        <link rel="stylesheet" href="~/css/persianDatepicker-default.css" />
        <script src="~/js/jquery-1.10.1.min.js"></script>
        <script src="~/js/persianDatepicker.min.js"></script>
        <script>
            $(function () {
                $("#dateInput33").persianDatepicker();
            });
            $(function () {
                $("#dateInput44").persianDatepicker();
            });
            $(function () {
                $("#dateInput55").persianDatepicker();
            });
            $(function () {
                $("#dateInput66").persianDatepicker();
            });
            $(function () {
                $("#dateInput77").persianDatepicker();
            });
        </script>
        <style>
            #myForm{
                color:white;
            }
        </style>

    }


</head>
<body>

    @section tr{

        <tr>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
            <td class="table-headers">1</td>
        </tr>
    }


    @section filter{

        <form id="myForm">
            <!-- چک باکس 1 -->
            <input class="chekbox" type="checkbox" id="checkbox1" name="checkbox1" onchange="toggleDateInput('checkbox1', 'dateInput1')"> VIN<br>
            <div id="dateInput1" style="display:none;">
                VIN : <input type="text" name="date1"><br>
            </div>

            <!-- چک باکس 2 -->
            <input class="chekbox" type="checkbox" id="checkbox2" name="checkbox2" onchange="toggleDateInput('checkbox2', 'dateInput2')">Type<br>
            <div id="dateInput2" style="display:none;">
                Type : <input type="text" name="date2"><br>
            </div>

            <!-- چک باکس 3 -->
            <input class="chekbox" type="checkbox" id="checkbox3" name="checkbox3" onchange="toggleDateInput('checkbox3', 'dateInput3')">سالن بدنه<br>
            <div id="dateInput3" style="display:none;">
                تاریخ: <input id="dateInput33" type="text" name="date3"><br>
            </div>

            <input class="chekbox" type="checkbox" id="checkbox4" name="checkbox4" onchange="toggleDateInput('checkbox4', 'dateInput4')"> سالن رنگ<br>
            <div id="dateInput4" style="display:none;">
                تاریخ: <input id="dateInput44" type="text" name="date4"><br>
            </div>

            <input class="chekbox" type="checkbox" id="checkbox5" name="checkbox5" onchange="toggleDateInput('checkbox5', 'dateInput5')">مکانیکی<br>
            <div id="dateInput5" style="display:none;">
                تاریخ: <input id="dateInput55" type="text" name="date5"><br>
            </div>


            <input class="chekbox" type="checkbox" id="checkbox6" name="checkbox6" onchange="toggleDateInput('checkbox6', 'dateInput6')">سالن تزِینات<br>
            <div id="dateInput6" style="display:none;">
                تاریخ: <input id="dateInput66" type="text" name="date6"><br>
            </div>



            <input class="chekbox" type="checkbox" id="checkbox7" name="checkbox7" onchange="toggleDateInput('checkbox7', 'dateInput7')"> Trans<br>
        <div id="dateInput7" style="display:none;">
            تاریخ: <input id="dateInput77" type="text" name="date7"><br>
        </div>

            <input id="submitBtn" type="button" value="ارسال" onclick="submitForm()">
        </form>

        <!-- بخش JavaScript -->
        <script>
            // فانکشن برای نمایش و مخفی کردن ورودی تاریخ
            function toggleDateInput(checkboxId, dateInputId) {
                var checkbox = document.getElementById(checkboxId);
                var dateInput = document.getElementById(dateInputId);

                if (checkbox.checked) {
                    dateInput.style.display = "block";
                } else {
                    dateInput.style.display = "none";
                }
            }

            // فانکشن برای ارسال فرم به سرور
            function submitForm() {
                var formData = {
                    Vin: document.getElementById("checkbox1").checked,
                    Type: document.getElementById("checkbox2").checked,
                    MainLine: document.getElementById("checkbox3").checked,
                    enterBIW: document.getElementById("checkbox4").checked,
                    ExitChassis: document.getElementById("checkbox5").checked,
                    FinalTrim: document.getElementById("checkbox6").checked,
                    Trans: document.getElementById("checkbox7").checked,
                    //checkbox8: document.getElementById("checkbox8").checked,
                    //checkbox9: document.getElementById("checkbox9").checked,
                    //checkbox10: document.getElementById("checkbox10").checked,
                    //checkbox11: document.getElementById("checkbox11").checked,
                    //checkbox12: document.getElementById("checkbox12").checked,
                    //checkbox13: document.getElementById("checkbox13").checked,
                    //checkbox13: document.getElementById("checkbox14").checked,



                    VinData: document.getElementsByName("date1")[0].value,
                    TypeData: document.getElementsByName("date2")[0].value,
                    MainLineData: document.getElementsByName("date3")[0].value,
                    enterBIWdata: document.getElementsByName("date4")[0].value,
                    ExitChassisData: document.getElementsByName("date5")[0].value,
                    FinalTrimData: document.getElementsByName("date6")[0].value,
                    TransData: document.getElementsByName("date7")[0].value
                };

                // ایجاد یک فرم مخفی برای ارسال داده‌ها به سمت سرور
                var hiddenForm = document.createElement("form");
                hiddenForm.method = "post";
                hiddenForm.action = "/NewHome/ProcessFormData"; // مسیر مورد نظر برای درخواست POST

                // ایجاد یک المان input برای هر فیلد داده
                for (var key in formData) {
                    var input = document.createElement("input");
                    input.type = "hidden"; // نوع المان input
                    input.name = key; // نام فیلد داده
                    input.value = formData[key]; // مقدار فیلد داده

                    // اضافه کردن المان input به فرم مخفی
                    hiddenForm.appendChild(input);
                }

                // اضافه کردن فرم مخفی به صفحه
                document.body.appendChild(hiddenForm);

                // ارسال فرم مخفی
                hiddenForm.submit();
            }
        </script>

    }

</body>
