@{
    Layout = null;
}
@{
}
<h1>Admin work</h1>
<a style="background-color:aqua" asp-action="Ashayan" asp-controller="Home">A1:shayan</a>
<a style="background-color:aqua" asp-action="Aaeen" asp-controller="Home">A2:aeen</a>
<a style="background-color:aqua" asp-action="Logout" asp-controller="Home">  logout </a>