@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<tr>
    <td class="table-headers">1         </td>
    <td class="table-headers">NKA_D889270GJBID038</td>
    <td class="table-headers">784           </td>
    <td class="table-headers">1402/02/07    </td>
    <td class="table-headers">1402/02/07    </td>
    <td class="table-headers">1402/02/07    </td>
    <td class="table-headers">1402/02/07  </td>
    <td class="table-headers">1402/02/07  </td>
    <td class="table-headers">-       </td>
    <td class="table-headers">-    </td>
    <td class="table-headers">-   </td>
    <td class="table-headers">-  </td>
    <td class="table-headers">- </td>
    <td class="table-headers">-   </td>
    <td class="table-headers">-    </td>
</tr>

@section Jadval2 {
    <tr>
        <td class="table-headers">1         </td>
        <td class="table-headers">NKA_D889270GJBID038</td>
        <td class="table-headers">784           </td>
        <td class="table-headers">1402/02/07    </td>
        <td class="table-headers">1402/02/07    </td>
        <td class="table-headers">1402/02/07    </td>
        <td class="table-headers">1402/02/07  </td>
        <td class="table-headers">1402/02/07  </td>
        <td class="table-headers">-       </td>
        <td class="table-headers">-    </td>
        <td class="table-headers">-   </td>
        <td class="table-headers">-  </td>
        <td class="table-headers">- </td>
        <td class="table-headers">-   </td>
        <td class="table-headers">-    </td>
    </tr>
}